<h3>今日记</h3>

<% @questions.each do |q| %>
	<h4><%= q.content %></h4>
	<div style="padding-bottom:15px;">
		<% q.user_msgs(@user_id).each do |msg| %>
			<p class="text-muted"><%= msg.content if message.present? %></p>
		<% end if q.user_msgs(@user_id).present? %>
	</div>
<% end if @questions.present? %>

<h3>我的自言自语</h3>
<% @wd_questions.each do |q| %>
	<h4><%= q.content %></h4>
	<div style="padding-bottom:15px;">
		<% q.user_msgs(@user_id).each do |msg| %>
			<p class="text-muted"><%= msg.content if message.present? %></p>
		<% end if q.user_msgs(@user_id).present? %>
	</div>
<% end if @wd_questions.present? %>